.group__post {
  &__toggle {
    @apply mt-2 flex mr-3;

    p {
      @apply mr-2;
    }

    &__item {
      &__checked {
        .toggle {
          border-color: #654fec;

          &:after {
            background: #5445bb;
            transform: translateX(23px);
          }
        }
      }
    }
  }
}

.toggle {
  appearance: none;
  cursor: pointer;
  height: 26px;
  width: 52px;
  border-radius: 16px;
  position: relative;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #ebebef 0%, #dcdee3 100%);
  transition: all 0.2s ease;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #969494;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  }
}