$headerMargin: 30px;

.header {
  @apply w-[1140px];
  @apply fixed shadow-header flex items-center justify-between;
  @apply left-1/2 transform -translate-x-1/2 top-[20px] px-[32px] py-[12px];
  @apply bg-white rounded-3xl;
  @apply z-50;
  @apply font-interReg;

  &__item {
    @apply flex items-center;
  }

  .logo {
    &R {
      @apply mr-[#{$headerMargin}];

      img {
        @apply w-[46px] h-[40px];
      }
    }

    &L {
      @apply ml-[#{$headerMargin}];
    }
  }

  .delimiter {
    @apply w-[1px] h-[30px] bg-black;
  }

  .services {
    @apply flex;

    &__name {
      @apply flex;

      span {
        @apply relative;
        @apply inline-flex items-center;
        @apply mr-[34px] last:mr-[#{$headerMargin}];

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-image: linear-gradient(to right, #7776ff, #ae2cf1);
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.5s;
        }

        &:hover:before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .signIn {
    @apply ml-[#{$headerMargin}];

    &__button {
      @apply flex items-center justify-center rounded-[15px] px-[14px] py-[3px] bg-indigo-600 text-amber-50 hover:bg-indigo-400;
    }
  }
}
