.analysis {
  @apply flex ml-[80px];

  .graph {
    @apply w-screen h-full bg-[#f1f5f9];

    &__count__post {
      @apply m-5 bg-[#ebeef2] w-[650px] p-5 shadow-button;
      border-radius: 40px;

      &__header {
        @apply flex justify-between;

        h1 {
          @apply font-interReg text-[19px] mb-6;
        }

        &__buttons {
          @apply font-interReg bg-[#d9d9d9] p-1 h-[35px];
          border-radius: 10px;

          button {
            @apply py-[1px] px-3;
            border-radius: 10px;
            &:hover {
              @apply bg-[#efefef];
            }

            &:first-of-type {
              @apply mr-2;
            }
          }
        }
      }

      &__main {

        &__statistics {

        }

        &__dialog {
          @apply h-[300px] w-[700px];
        }
      }
    }

    &__views {
      @apply m-5 bg-[#ebeef2] w-[650px] p-5 shadow-button;
      border-radius: 40px;

      &__header {
        @apply flex justify-between;

        h1 {
          @apply font-interReg text-[19px] mb-6;
        }

        &__buttons {
          @apply font-interReg bg-[#d9d9d9] p-1 h-[35px];
          border-radius: 10px;

          button {
            @apply py-[1px] px-3;
            border-radius: 10px;
            &:hover {
              @apply bg-[#efefef];
            }

            &:first-of-type {
              @apply mr-2;
            }
          }
        }
      }

      &__main {

        &__statistics {

        }

        &__dialog {
          @apply h-[300px] w-[700px];
        }
      }
    }
  }
}

.myHeader {
  @apply fixed top-0 left-0 h-screen w-[80px] bg-white;
}